@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  
body {
padding: 40px;
font-family: 'Orbitron', sans-serif;
background: #282c34;
color: #ffffff;
overflow: auto;
}

.container {
max-width: 900px;
margin: auto;
border: none;
border-radius: 25px;
padding: 30px;
background: #3b4048;
box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
color: #abb2bf;
word-break: break-word;
}

.btn {
margin-top: 10px;
transition: all 0.3s ease;
background: linear-gradient(to right, #61afef, #c678dd);
border: none;
box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
border-radius: 25px;
color: #282c34;
}

.btn:hover {
transform: scale(1.05);
}

.btn:active {
transform: scale(0.95);
}

.list-group-item {
margin-bottom: 20px;
background-color: #282c34;
border: 1px solid #44475a;
transition: all 0.3s ease;
color: #abb2bf;
word-break: break-word;
}

.list-group-item:hover {
background: #3b4048;
border: 1px solid #bbb;
transform: scale(1.02);
}

.url-link {
color: #61afef;
word-break: break-all; 
}

.url-link:hover {
text-decoration: none;
}

.loading-overlay {
position: fixed;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.7);
z-index: 1000;
}

.outer-circle {
width: 240px;
height: 240px;
border-radius: 50%;
box-shadow: 0 0 8px 0 #c678dd;
position: relative;
}

.purple-scanner {
width: 200px;
height: 200px;
border-radius: 50%;
position: absolute;
top: 20px;
left: 20px;
background: conic-gradient(#c678dd55, #c678dd);
animation: scan 4s infinite linear;
}

.outer-circle:before,
.outer-circle:after {
content: "";
width: 240px;
height: 240px;
border-radius: 50%;
position: absolute;
border: 1px solid #c678dd;
animation: ripple 2s infinite linear;
}

.outer-circle:after {
animation-delay: 1s;
}

@keyframes scan {
to {
    transform: rotate(1turn);
}
}

@keyframes ripple {
to {
    transform: scale(2.5);
    opacity: 0;
}
}

h1 {
transition: all 0.3s ease-in-out;
color: #ffffff;
}

h1:hover {
transform: scale(1.05);
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
color: #abb2bf;
font-size: 14px;
padding: 20px;
background: #282c34;
backdrop-filter: blur(5px);
}

p {
font-family: 'Roboto', sans-serif;
color: #ffffff;
font-size: 1.1em;
line-height: 1.5;
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

p.loaded {
opacity: 1;
}

@media (max-width: 600px) {
body {
    padding: 20px;
}
}